.depositions {
    background-color: #fff;
    padding: 70px 0px;
}

.testimony-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 760px) {
    .depositions {
        padding: 40px 20px !important;
    }

    .testimony-content {
        flex-wrap: wrap;
    }

}