.cardStatistic {
    margin-top: 40px;
    color: #04004d;
    max-width: 255px;
    min-width: 255px;
    min-height: 370px;
    max-height: 370px;
    display: flex;
    flex-direction: column;
}

.cardStatistic span {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 5px solid #016392;
    width: 30px;
}

.cardStatistic h2 {
    margin-top: 20px;
    font-size: 19px;
}

.cardStatistic p {
    margin-top: 15px;
    color: #333;
    max-width: 93%;
}

.cardStatistic img {
    margin-top: auto;
}

@media (max-width: 760px) {

    .cardStatistic {
       margin-top: 50px;
       border-bottom: 2px #d1d1d1 solid;
       width: 100%;

       max-width: 100%;
       min-width: 100%;
       min-height: 370px;
       max-height: 370px;
    }

    .cardStatistic img {
        margin-bottom: 30px;
    }

    .cardStatistic p {
        font-size: 16px;
    }
}