.verify {
    color: #1d1d1d !important;
    display: flex;
    align-items: center;
    font-weight: 800;

    margin-left: 15px;

}

.verify svg {
    background-color: #edf4ff !important;
    padding: 8px;
    border-radius: 50%;
    color: green;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
} 

@media (max-width: 760px) {
    .verify {
        margin-left: 0px;
    }
}