.who-we-are {
    padding: 30px 0px;
    margin-top: 85px;
}

.who-we-are h2{
    font-size: 35px;
    color: #04004d;
}

.who-we-are p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.who-we-are ul {
    margin-left: 0px;
    list-style: none;
}

.who-we-are ul li::before {
    content: '✔';
    color: green;
    margin-right: 5px;
}

.who-we-are img {
    width: 350px;
    height: 350px;
}

.business-performance {
    width: 100%;
    margin-top: 20px;

    align-items: center;
}

.business-performance h2 {
    max-width: 300px;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #1d1d1d;
}

.cta {
    margin-top: 50px;
}

@media (max-width: 760px) {

    .who-we-are {
        padding: 30px 30px;
    }

    .who-we-are img {
        width: 100%;
        object-fit: contain;
    }

    .business-performance {
        margin-top: 20px;
        align-items: start;
    }

    .business-performance h2 {
        margin-bottom: 30px;
    }
}
